<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Dodaj rejestr płynu</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{/fluidRegistry/add}" method="POST" th:object="${fluid}">
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Ilość</label>
                            <input class="form-control" type="number" th:field="${fluidRegistry.quantity}" required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Pracownik </label>
                            <select class="form-control" name="person">
                                <option value="">Wybierz pracownika</option>
                                <option th:each="person : ${persons}"
                                        th:value="${person.personId}"
                                        th:text="${person.name}+' '+${person.surname}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Czynnik </label>
                            <select class="form-control" name="fluid">
                                <option value="">Wybierz czynnik</option>
                                <option th:each="fluid : ${fluids}"
                                        th:value="${fluid.fluidId}"
                                        th:text="${fluid.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Urządzenie </label>
                            <select class="form-control" name="device">
                                <option value="">Wybierz urządzenie</option>
                                <option th:each="device : ${devices}"
                                        th:value="${device.deviceId}"
                                        th:text="${device.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>