<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">     
    <head>
        <title>Lista rejestru płynów</title>               
    </head>

    <body>       
        <div layout:fragment="content" class="container mt-2">
            <div class="row">
                <div class="col-md-4 my-1">
                    <a href="add" class="btn btn-info" role="button">Dodaj rejestr płynu</a>
                </div>
            </div>
            <div class="table-responsive mt-2">
                <table class="table table-bordered table-striped">          
                    <thead class="thead-dark">
                        <tr  class="active">
                            <th>Ilość</th> 
                            <th>Data</th> 
                            <th>Pracownik</th>
                            <th>Czynnik</th>
                            <th>Urządzenie</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody id="table">                       
                        <tr th:each ="fluidRegistry : ${fluidsRegistry}">                                     
                            <td> <b  th:text="${fluidRegistry.quantity}">...</b> </td>
                            <td> <b  th:text="${#strings.substring(fluidRegistry.datetime,8,10)} + '-' +  ${#strings.substring(fluidRegistry.datetime,5,7)} 
                                +'-'+ ${#strings.substring(fluidRegistry.datetime,0,4)}  + ' ' +${#strings.substring(fluidRegistry.datetime,11,13)}
                                + ':' +${#strings.substring(fluidRegistry.datetime,14,16)} ">...</b> </td>
                            <td> <b  th:if="${fluidRegistry.person}" th:text="${fluidRegistry.person.name} + ' ' + ${fluidRegistry.person.surname}"></b>
                                 <b  th:unless="${fluidRegistry.person}" ></b>
                            </td>
                            <td> <b  th:if="${fluidRegistry.fluid}" th:text="${fluidRegistry.fluid.name}"></b>
                                 <b  th:unless="${fluidRegistry.fluid}" ></b>
                           </td>
                           <td> <b  th:if="${fluidRegistry.device}" th:text="${fluidRegistry.device.name}"></b>
                                <b  th:unless="${fluidRegistry.device}" ></b>
                            </td>
                            <td>
                                <a class="btn btn-primary my-1" th:href="@{'delete/' + ${fluidRegistry.registryId}}">Usuń</a>
                                <a class="btn btn-primary my-1" th:href="@{'edit/' + ${fluidRegistry.registryId}}">Edytuj</a>
                            </td>               
                        </tr>
                    </tbody>          
                </table>    
            </div>    
        </div>
    </body>
</html>
