<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Dodaj przegląd</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{/overview/add}" method="POST" th:object="${overview}">
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">

                        <div class="form-group">
                            <label> Status przeglądu</label>
                            <select class="form-control" name="status" required>
                                <option value="">Wybierz status</option>
                                <option value="Nierozpoczęty">Nierozpoczęty</option>
                                <option value="Rozpoczęty">Rozpoczęty</option>    
                                <option value="Wykonany">Wykonany</option>
                                <option value="Niewykonany">Niewykonany</option>       
                            </select>   
                        </div>

                        <div class="form-group">
                            <label>Uwagi</label>
                            <input class="form-control" type="text" th:field="${overview.comment}" />
                        </div>               

                        <div class="form-group">  
                            <label> Osoba </label>
                            <select class="form-control" name="person">
                                <option value="">Wybierz użytkownika</option>
                                <option th:each="person : ${personList}"
                                        th:value="${person.personId}"
                                        th:text="${person.name}+' '+${person.surname}">
                                </option>                               
                            </select>
                        </div>

                        <div class="form-group">  
                            <label> Przełożony </label>
                            <select class="form-control" name="corroborator">
                                <option value="">Wybierz przełożonego</option>
                                <option th:each="person : ${personList}"
                                        th:value="${person.personId}"
                                        th:text="${person.name}+' '+${person.surname}">
                                </option>                               
                            </select>
                        </div>

                        <div class="form-group">  
                            <label> Czynności </label>
                            <select id="activityType" th:onchange="select()" class="form-control" name="activity">
                                <option value="">Wybierz czynność</option>
                                <option th:each="activity : ${activityList}"
                                        th:value="${activity.activityId}"                                       
                                        th:text="${activity.name}">                                                 
                                </option>                                                                            
                            </select>  

                            <script th:inline="javascript">
                                /*<![CDATA[*/
                                function select() {
                                    var activityList = /*[[${activityList}]]*/ null;
                                    var selectedIndex = $("#activityType option:selected").index() - 1;
                                    if(selectedIndex == -1){
                                        document.getElementById("result").innerHTML='';
                                    }else{
                                        var activity = activityList[selectedIndex];
                                        console.log(activity.type);

                                        if(activity.type == "Pole tekstowe"){   
                                            document.getElementById("result").innerHTML=
                                                ' <div class="form-group"> '+
                                                ' <label>Parametr</label> '+
                                                ' <input class="form-control" type="text" name="parameter" required /> '+
                                                ' </div> ';
                                        }else if(activity.type == "Zaznaczenie"){
                                            document.getElementById("result").innerHTML=
                                                ' <div class="form-group"> '+
                                                ' <label>Parametr</label></br> '+
                                                ' <label><input type="checkbox" value="Wykonano" name="parameter" required> Wykonano</label> '+
                                                ' </div> ';
                                        }else if(activity.type == "Zakres liczb"){
                                            document.getElementById("result").innerHTML=
                                                ' <div class="form-group"> '+
                                                ' <label>Parametr</label> '+
                                                ' <input class="form-control" type="number" name="parameter" min="0" step="0.1" max="999.9" required /> '+
                                                ' </div> ';
                                        }else if(activity.type == "Pole wyboru"){
                                            document.getElementById("result").innerHTML=
                                                ' <div class="form-group"> '+
                                                ' <label>Parametr</label> </br>'+
                                                ' <div class="form-check form-check-inline"> '+
                                                ' <input class="form-check-input" type="radio" name="parameter" value="Tak" required> '+
                                                ' <label class="form-check-label"> Tak </label> '+
                                                ' </div> '+
                                                ' <div class="form-check form-check-inline"> '+
                                                ' <input class="form-check-input" type="radio" name="parameter" value="Nie"> '+
                                                ' <label class="form-check-label"> Nie </label> '+
                                                ' </div> '+
                                                ' </div> ';
                                        }
                                        else{
                                            document.getElementById("result").innerHTML='';
                                        }
                                    }
                                }
                                /*]]>*/
                            </script>       
                        </div> 
                              
                        <div>                          
                            <p id="result"></p>     
                        </div>
                           
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>