<header th:fragment="header">
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">

        <a class="navbar-brand" href="/"><img src="/img/logo.jpg" width="30" height="30" class="d-inline-block mr-1 align-bottom" alt="">MPGK</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/fluid/list"> Czynniki </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/user/list"> Użytkownicy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/person/list"> Pracownicy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/activityGroup/list"> Grupy czynności</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/activity/list"> Czynności </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/overview/list"> Przeglądy </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/fluidRegistry/list"> Rejestry płynów </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/role/list"> Uprawnienia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/device/list"> Urządzenia </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/inspectionType/list"> Rodzaje przeglądów </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/connection/list"> Powiązania </a>
                </li>
            </ul>
        </div>
    </nav>
</header>