<header th:fragment="header">
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">

        <a class="navbar-brand" href="/"><img src="/img/logo.png" width="30" height="30" class="d-inline-block mr-1 align-bottom" alt="">MPGK</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/"> Strona Główna </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/fluid/list"> Czynnik </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/user/list"> Użytkownik </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/person/list"> Pracownik </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/activityGroup/list"> Grupa </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/activity/list"> Czynność </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/overview/list"> Przegląd </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/fluidRegistry/list"> Rejestr płynu </a>
                </li>
            </ul>
        </div>
    </nav>
</header>