<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">

    <head>
        <title>Dodaj powiązanie</title>
    </head>

    <body>
        <div layout:fragment="content" class="container mt-2">
            <form th:action="@{/connection/add}" method="POST" th:object="${connection}">
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center">
                        <div class="form-group">
                            <label>Nazwa</label>
                            <input class="form-control" type="text" th:field="${connection.name}" required />
                        </div>                    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Rodzaj przeglądu </label>
                            <select class="form-control" name="inspectionType">
                                <option value="">Wybierz rodzaj</option>
                                <option th:each="inspectionType : ${inspectionsType}"
                                        th:value="${inspectionType.typeId}"
                                        th:text="${inspectionType.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 offset-md-4 text-center"> 
                        <div class="form-group">  
                            <label> Urządzenie </label>
                            <select class="form-control" name="device">
                                <option value="">Wybierz urządzenie</option>
                                <option th:each="device : ${devices}"
                                        th:value="${device.deviceId}"
                                        th:text="${device.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">                 
                    <div class="col-md-4 offset-md-4 text-center">                         
                        <div class="form-group">  
                            <label> Pracownicy </label>
                            <select multiple class="form-control" name="persons">
                                <option selected value=""> Brak </option>
                                <option th:each="person : ${persons}"        
                                        th:value="${person.personId}"
                                        th:text="${person.name}+' '+${person.surname}">
                                </option>
                            </select>       
                        </div>    
                    </div>    
                </div>


                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </div>

            </form>
        </div>
    </body>
</html>