<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">     
    <head>
        <title>Lista powiązań</title>               
    </head>

    <body>       
        <div layout:fragment="content" class="container mt-2">
            <div class="row">
                <div class="col-md-4 my-1">
                    <a href="add" class="btn btn-info" role="button">Dodaj powiązanie</a>
                </div>
            </div>
            <div class="table-responsive mt-2">
                <table class="table table-bordered table-striped">          
                    <thead class="thead-dark">
                        <tr  class="active">
                            <th>Nazwa</th> 
                            <th>Grupa czynności</th>
                            <th>Typ przeglądu</th>
                            <th>Urządzenie</th>
                            <th>Pracownicy</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody id="table">                       
                        <tr th:each ="connection : ${connections}">                                     
                            <td> <b  th:text="${connection.name}">...</b> </td>
                            <td> <b  th:if="${connection.activityGroup}" th:text="${connection.activityGroup.name}"></b>
                                 <b  th:unless="${connection.activityGroup}" ></b>
                            </td>
                            <td> <b  th:if="${connection.inspectionType}" th:text="${connection.inspectionType.name}"></b>
                                 <b  th:unless="${connection.inspectionType}" ></b>
                            </td>
                            <td> <b  th:if="${connection.device}" th:text="${connection.device.name}"></b>
                                 <b  th:unless="${connection.device}" ></b>
                            </td>
                            <td> 
                                <div class="form-check" th:each="person : ${connection.person}">
                                    <b> <label class="form-check-label"  th:text="${person.name} + ' ' + ${person.surname}"></label></b>
                                </div>
                            <td>
                                <a class="btn btn-primary my-1" th:href="@{'delete/' + ${connection.connectionId}}">Usuń</a>
                                <a class="btn btn-primary my-1" th:href="@{'edit/' + ${connection.connectionId}}">Edytuj</a>
                            </td>             
                        </tr>
                    </tbody>          
                </table>    
            </div>    
        </div>
    </body>
</html>
